<!DOCTYPE html>
	<html lang="vi"></html>
	<head>
<title>Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH</title>
<link rel="shortcut icon" href="uploads/ehutech.tech/favicon.png">
<link rel="canonical" href="https://luyenthihutech.com/vi/">
<link href="assets/js/jquery/jquery.min.js">
<link href="assets/js/language/vi.js">
<link href="assets/js/global.js">
<link href="themes/default/js/test.js">
<link href="themes/raodn/js/main.js">
<link href="https://code.jquery.com/jquery-1.12.4.min.js?t=16">
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.js">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="themes/default/js/users.js">
<link href="assets/js/jquery/jquery.cookie.js">
<link href="assets/js/jquery/jquery.treeview.min.js">
<link href="themes/raodn/js/bootstrap.min.js">
<link href="themes/raodn/js/jquery.sticky-kit.min.js">
<link href="themes/default/js/voting.js">
<link href="assets/toastr/toastr.min.css" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/nvgfont.quicksand.500.vietnamese.unknown0.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="themes/raodn/css/bootstrap.min.css">
<link rel="stylesheet" href="themes/raodn/css/style.css">
<link rel="stylesheet" href="themes/raodn/css/style.responsive.css">
<link rel="stylesheet" href="themes/default/css/test.css">
<link rel="stylesheet" href="assets/css/raodn.vi.1787.css">
<link rel="stylesheet" href="themes/default/css/users.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.11/sweetalert2.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/js/jquery/jquery.treeview.css" type="text/css"/>
<style>
	#navigation233 a {
		background-color: transparent !important
	}

	#navigation .current, #navigation .current a {
		font-weight: bold
	}

	#navigation .current ul a {
		font-weight: normal
	}
</style>
	</head>
	<body>
	<noscript>
		<div class="alert alert-danger">Trình duyệt của bạn đã tắt chức năng hỗ trợ JavaScript.<br />Website chỉ làm việc khi bạn bật nó trở lại.<br />Để tham khảo cách bật JavaScript, hãy click chuột <a href="http://wiki.nukeviet.vn/support:browser:enable_javascript">vào đây</a>!</div>
	</noscript>
    <div class="body-bg">
	<div class="wraper">
		<header>
			<div class="container-fluid">
				<div id="header" class="row">
				    <div class="logo col-xs-24 col-sm-24 col-md-8">
                                                <div class="pull-right-min">
                        	<a title="Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH" href=""><img src="uploads/ehutech.tech/banner_webtest_new.png" width="1500" height="204" alt="Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH" /></a>
                       	</div>
                            <h1 class="hidden"><a href="/vi/" title="Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH">Hệ thống Luyện thi Trắc nghiệm Trực tuyến HUTECH</a></h1>
                    </div>
                    <div class="col-xs-24 col-sm-24 col-md-16">
                    </div>
				</div>
			</div>
		</header>
		<nav class="second-nav" id="menusite">
			<div class="container-fluid">
				<div class="row">
                    <div class="bg box-shadow">
					<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-site-default">
            <span class="sr-only">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="menu-site-default">
        <ul class="nav navbar-nav">
            <li><a class="home" title="Trang nhất" href="/"><em class="fa fa-lg fa-home">&nbsp;</em><span class="visible-xs-inline-block"> Trang nhất</span></a></li>
                        <li  class="dropdown" role="presentation"><a class="dropdown-toggle"  href="/" role="button" aria-expanded="false" title="KHÓA HỌC">  KHÓA HỌC <strong class="caret">&nbsp;</strong>
                </a><ul class="dropdown-menu">
                        <li
                        class="dropdown-submenu">  <a href="/vi/test/toan-cao-cap/" title="Unit 1">Unit 1</a>  <ul class="dropdown-menu">
                        <li
                        >  <a href="/vocabluary" title="Từ vựng 1">Từ vựng 1</a> 
                        </li>   
                        <li
                        >  <a href="" title="Từ vựng 2">Từ vựng 2</a> 
                        </li>
                            <li
                        >  <a href="" title="Từ vựng 3">Từ vựng 3</a> 
                        </li>
                    </ul> 
            </li>
        
    <li
        class="dropdown-submenu">  <a href="" title="Unit 2">Unit 2</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Văn bản 1">Văn bản 1</a> 
    </li>
    <li
        >  <a href="" title="Văn bản 2">Văn bản 2</a>
    </li>
</ul> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="Unit 3">Unit 3</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Nghe 1">Nghe 1</a>
    </li>
    <li
        >  <a href="" title="Nghe 2">Nghe 2</a> 
    </li>
</ul> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="Unit 4">Unit 4</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="Chuyên ngành IT">Chuyên ngành IT</a> 
    </li>
    <li
        class="dropdown-submenu">  <a href="" title="Tín chỉ">Tín chỉ</a>  <ul class="dropdown-menu">
        <li
        >  <a href="" title="B1">B1</a> 
    </li>
    <li
        >  <a href="" title="B2">B2</a> 
    </li>
</ul> 
    </li>
</ul> 
    </li>
</ul> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="/exam" role="button" aria-expanded="false" title="KIỂM TRA">  KIỂM TRA</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="SINH VIÊN">  SINH VIÊN</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="TÀI LIỆU" onclick="this.target='_blank'">  TÀI LIỆU</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="TÌM KIẾM">  TÌM KIẾM</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="KẾT QUẢ"> KẾT QUẢ</a> </li>
            <li  role="presentation"><a class="dropdown-toggle"  href="" role="button" aria-expanded="false" title="LIÊN HỆ"> LIÊN HỆ</a> </li>

        </ul>
    </div>
</div>
    </div>  
    </div>
    </div>
    </nav>