<aside class="sidebar">
			<a href="/dashboard" class="logo">
				<img src="../dashboard/images/xt.png" alt="xt.png">
			</a>
			<br>
			<nav>
				<ul class="sidebar-list">
					<li>
						<form class="input-group">
							<div class="input-group-icon"><i class="fas fa-search"></i></div>
							<input type="text" class="form-control" placeholder="Search...">
						</form>
					</li>
					
					<li class="sidebar-list-item"><i class="fa fa-cogs"></i> <span>Chức năng</span> <i class="fas fa-chevron-down pull-right"></i></li>
					<li>
						<ul>
							<li><a class="sidebar-list-item" href="/add-course">Khóa học </a></li>
							<li><a href="/add-exam" class="sidebar-list-item">Đề kiểm tra</a></li>
						</ul>
					</li>
					<li><a class="sidebar-list-item" href="/add-question"><i class="fe fe-edit"></i> <span>Tạo câu hỏi</span></a></li>
					<li><a class="sidebar-list-item" href="/add-vocabulary"><i class="fe fe-edit"></i> <span>Tạo từng vựng</span></a></li>
					<li><a class="sidebar-list-item" href="/add-paragraph"><i class="fe fe-edit"></i> <span>Tạo đoạn văn</span></a></li>
					<li><a class="sidebar-list-item" href="/add-sound"><i class="fe fe-edit"></i> <span>Tạo phần nghe</span></a></li>
					<li><a class="sidebar-list-item" href="/add-unit"><i class="fe fe-edit"></i> <span>Tạo Unit</span></a></li>

					<li><a class="sidebar-list-item" href="/list-result-exam"><i class="fe fe-list"></i> <span>Danh sách Kết quả thi</span> </a> </li>
					<li><a class="sidebar-list-item" href="/list-vocabulary"><i class="fe fe-list"></i> <span>Danh sách Từ vựng</span> </a> </li>

					<li><a class="sidebar-list-item" href="/list-exam"><i class="fe fe-list"></i> <span>Danh sách đề kiểm tra</span> </a> </li>
					<li><a class="sidebar-list-item" href="/list-unit"><i class="fe fe-list"></i> <span>Danh sách Unit</span> </a> </li>

					<li><a class="sidebar-list-item" href="page-chat.html"><i class="fe fe-message-square"></i> <span>Chat</span></a></li>
					
					<li><a class="sidebar-list-item" href="page-faq.html"><i class="fe fe-help-circle"></i> <span>FAQ</span></a></li>
					
					<li><span class="sidebar-list-header">User interface</span></li>
					<li class="sidebar-list-item"><i class="fe fe-layers"></i> <span>Layouts</span> <i class="fas fa-chevron-down pull-right"></i></li>
					<li>
						<ul>
							<li><a class="sidebar-list-item" href="dashboard-1.html">Standart</a></li>
							<li><a class="sidebar-list-item" href="layout-horizontal-fluid.html">Horizontal fluid</a></li>
							<li><a class="sidebar-list-item" href="layout-horizontal-boxed.html">Horizontal boxed</a></li>
							<li><a class="sidebar-list-item" href="layout-inverse-horizontal-fluid.html">Inversed horizontal fluid</a></li>
							<li><a class="sidebar-list-item" href="layout-inverse-horizontal-boxed.html">Inversed horizontal boxed</a></li>
						</ul>
					</li>
					<li class="sidebar-list-item"><i class="fe fe-box"></i> <span>Components</span> <i class="fas fa-chevron-down pull-right"></i></li>
					<li>
						<ul>
							<li><a class="sidebar-list-item" href="component-alerts.html">Alerts</a></li>
							<li><a class="sidebar-list-item" href="component-buttons.html">Buttons and pagination</a></li>
							<li><a class="sidebar-list-item" href="component-box.html">Box</a></li>
							<li><a class="sidebar-list-item" href="component-card.html">Card</a></li>
							<li><a class="sidebar-list-item" href="component-tables.html">Tables</a></li>
							<li><a class="sidebar-list-item" href="component-events.html">Events</a></li>
							<li><a class="sidebar-list-item" href="component-widgets.html">Widgets</a></li>
							<li><a class="sidebar-list-item" href="component-charts.html">Charts</a></li>
							<li><a class="sidebar-list-item" href="component-avatar.html">Avatar</a></li>
							<li><a class="sidebar-list-item" href="component-user-panel.html">User panel</a></li>
							<li><a class="sidebar-list-item" href="component-image.html">Image</a></li>
							<li><a class="sidebar-list-item" href="component-icons.html">Icons</a></li>
						</ul>
					</li>
					<li class="sidebar-list-item"><i class="fe fe-edit"></i><span>Form</span><i class="fas fa-chevron-down pull-right"></i></li>
					<li>
						<ul>
							<li><a class="sidebar-list-item" href="/admin/add-subject-exam">Thêm</a></li>
							<li><a class="sidebar-list-item" href="form-wizzard.html">Form wizzard</a></li>
							<li><a class="sidebar-list-item" href="form-validation.html">Form validation</a></li>
							<li><a class="sidebar-list-item" href="form-editor.html">Form editor</a></li>
						</ul>
					</li>
					<li><a class="sidebar-list-item" href="typography.html"><i class="fe fe-type"></i> <span>Typography</span></a></li>
				</ul>
			</nav>
		</aside>