
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Luyện Thi Trắc Nghiệm - Phú Yên</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">

	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../dashboard/images/favicon/apple-touch-icon-144x144.png" />
	<link rel="icon" type="image/png" href="../lttnpy_core/images/LOGO_LTTNPY.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="../lttnpy_core/images/LOGO_LTTNPY.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="../lttnpy_core/images/LOGO_LTTNPY.png" sizes="128x128" />
	<link rel="stylesheet" href="../dashboard/assets/css/main.css">

	<link rel="stylesheet" href="../lttnpy_core/css/fontawesome-all.min.css"/>
	<link rel="stylesheet" href="../lttnpy_core/slick/slick.css">
	<link rel="stylesheet" href="../lttnpy_core/slick/slick-theme.css">
    <link rel="stylesheet" href="../lttnpy_core/css/select2.min.css"/>
    <link rel="stylesheet" href="../lttnpy_core/css/quill.snow.css"/>
	<link rel="stylesheet" href="../lttnpy_core/toastr/toastr.min.css"/>
    <link rel="stylesheet" href="../lttnpy_core/css/fullcalendar.print.min.css" media='print'/>
    <link rel="stylesheet" href="../lttnpy_core/css/jquery-ui-full.css"/>
    <link rel="stylesheet" href="../lttnpy_core/css/jquery.timepicker.min.css"/>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
	<!--
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	-->
</head>
<body>
	<div class="wrapper theme-inverse">
		<div class="loader text-primary">
			<i class="i-spinner loading"></i>
		</div>
		<%- include('../dashboard/sidebar') %>
		<header class="header">
			<ul class="header-nav">
				<li>
					<button id="js-toggle-sidebar" class="header-nav-item">
						<i class="fas fa-bars"></i>
					</button>
				</li>
			</ul>
			<ul class="header-nav d-none d-sm-flex">
				<li>
					<a href="/" class="header-nav-item">Trang chủ</a>
					
				</li>
				<li>
					<a href="#" data-dropdown class="header-nav-item">Liên hệ</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" target="_blank" href="https://www.facebook.com/TOTHANHDAT.TTD">Facebook</a></li>
						<li><a class="dropdown-item" target="_blank" href="https://www.messenger.com/t/TOTHANHDAT.TTD">Messenger</a></li>
						<li><a class="dropdown-item" href="">Email: lttn.py@gmail.com</a></li>
					</ul>
				</li>
			</ul>
			
			<ul class="header-nav pull-right">
				<li>
					<a href="#" data-dropdown class="header-nav-item">
						<i class="far fa-envelope"></i>
						<span class="badge badge-pill badge-success">2</span>
					</a>
					<ul class="dropdown-menu px-20 py-10">
						<li class="message">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-3.jpg" alt="">
							</div>
							<div class="message-content">
								<div class="message-bubble">
									<p>Hello, John!</p>
								</div>
								<small class="text-secondary text-sm">Today, 10:31</small>
							</div>
							<div class="message-actions">
								<button><i class="far fa-trash-alt"></i></button>
								<button><i class="far fa-flag"></i></button>
							</div>
						</li>
						<li class="message">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-3.jpg" alt="">
							</div>
							<div class="message-content">
								<div class="message-bubble">
									<p>What about our project?</p>
								</div>
								<small class="text-secondary text-sm">Today, 10:32</small>
							</div>
							<div class="message-actions">
								<button><i class="far fa-trash-alt"></i></button>
								<button><i class="far fa-flag"></i></button>
							</div>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" data-dropdown class="header-nav-item">
						<i class="far fa-bell"></i>
						<span class="badge badge-pill badge-primary">3</span>
					</a>
					<ul class="dropdown-menu px-20 py-10">
						<li class="event-column event-column-success">
							<div class="event-content">
								<small class="text-secondary"><i class="far fa-envelope"></i> From example@gmail.com</small>
								<p><a href="#">Alex White</a> sent you an email.</p>
							</div>
							<small class="text-secondary pull-right">1 hr.</small>
						</li>
						<li class="event-column event-column-primary">
							<div class="event-content">
								<small class="text-secondary"><i class="fas fa-thumbtack"></i> New task</small>
								<p><b>To <a href="#">John Doe</a>: new API methods.</b></p>
								<p class="text-secondary text-sm">Implement new API methods for mobile app.</p>
							</div>
							<small class="text-secondary pull-right">7 min.</small>
						</li>
						<li class="event-column event-column-secondary">
							<div class="event-content">
								<small class="text-secondary"><i class="far fa-bell"></i> Notification</small>
								<p><a href="#">Alex White</a> joined to project</p>
							</div>
							<small class="text-secondary pull-right">now</small>
						</li>
					</ul>
				</li>
				<li>
					<a href="#" id="js-enter-fullscreen" class="header-nav-item">
						<i class="fas fa-expand-arrows-alt"></i>
					</a>
				</li>
				<li>
					<a href="#" data-dropdown class="user-panel">
						<div class="user-panel-image">
							<div class="avatar avatar-sm">
								<img src="../dashboard/images/avatar-0.jpg" alt="">
							</div>
						</div>
						<div class="user-panel-info">
							<small>Xin chào</small>
							<p>Admin</p>
						</div>
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="page-profile.html"><i class="far fa-user"></i> Profile</a></li>
						<li class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/logout"><i class="fas fa-power-off"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</header>
		<main class="content">
			<div class="container-fluid">
				<div class="content-header content-header-scene">
					<h1>LTTN Trang chủ <small>Đăng nhập lần cuối: 03:00 21, July</small></h1>
				</div>
<main class="content">
			<div class="container-fluid">
				<div class="content-header">
					<h1>Chức năng</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="dashboard-1.html">Chức năng</a></li>
							<li class="breadcrumb-item active">Khóa học</li>
						</ol>
					</nav>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<form class="box needs-validation" novalidate>
							<div class="box-header">
								<h3>Thêm Khóa học</h3>
							</div>
							<div class="box-body">
								<div class="form-group row">
									<label for="jsValidationLengthMin" class="form-label col-3">Tên Khóa học</label>
									<div class="col-9">
										<input id="name-subject" type="text" class="form-control" autocomplete="off" placeholder='Môn ...'>
									</div>
								</div>
								<div class="form-group row">
									<label for="jsValidationLengthMax" class="form-label col-3">Giáo viên</label>
									<div class="col-9">
										<input id="name-teacher" type="text" class="form-control" placeholder='Nguyễn Văn A'>
									</div>
								</div>
							</div>
							<div class="box-footer">
								<button class="btn btn-primary pull-right btnAddCourse">Thêm</button>
							</div>
						</form>
					</div>
                    <div class="box">
							<div class="box-header">
								<h3 >Danh sách Khóa học</h3>
							</div>
							<div class="box-body">
								<div class="table-responsive">
									<table class="table table-noborder">
										<tbody>
											<tr>
												<th>Khóa học</th>
												<th>­    </th>
												<th>Giáo viên</th>

											</tr>
											

                                            <tr>
												<td></td>
												<td></td>
												
											</tr>
												
                        						
										</tbody>
									</table>
								</div>
							</div>
						</div>
				</div>
			</div>
		</main>
<footer class="footer">
			<p >LTTN.PY © 2020 Được phát triển bởi Tô Thành Đạt.</p>
		</footer>
	</div>

	<script src="../dashboard/assets/js/app.js"></script>

	<!-- <script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script> -->
	<script src="../lttnpy_core/scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/select2.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/slick/slick.js" type="text/javascript" charset="utf-8"></script>
	<script src="../lttnpy_core/scripts/caret.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/emojiPicker.min.js"></script>
	<script src="../lttnpy_core/scripts/main.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/lodash.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/moment.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/moment-with-locales.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/toastr/toastr.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/quill.min.js"></script>
	<script src="../lttnpy_core/scripts/fullcalendar.min.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/jquery-ui-full.js" type="text/javascript"></script>
	<script src="../lttnpy_core/scripts/jquery.timepicker.min.js" type="text/javascript"></script>
	<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

	
</body>
</html>

// <script>
       
//     $(document).on('click', '.btnAddCourse', function(e) {
// 		e.preventDefault();
//         let name        = $('#name-course').val().trim();
//         // let teacher 	= $('#name-teacher').val().trim();

//         // if(name.length < 1 || teacher.length < 1){
//         if(name.length < 1 ){

//             return toastr['error']('Tên bộ đề không được để trống', 'Thông báo');

//         } else{
//             $.ajax({
//                 url: `/course/insert-course`,
//                 method: 'POST',
//                 data: { name },
//                 success: resp => {

//                     console.log({ resp })
                    
//                     if(!resp.error){

//                         toastr['success']('Thêm thành công', 'Thông báo');
// 						window.location.reload();
						

//                     }else{

//                         return toastr['error']('Thêm thất bại', 'Thông báo');
//                     }
//                 },
//                 error: err => console.log({ err })
//             });
//         }
//     })

 </script>