<%- include ('../partials/header') %>




<div class="container-fluid" id="body">
    <nav class="third-nav">
        <div class="row">
            <div class="bg">
                <div class="clearfix">
                    <div class="col-xs-24 col-sm-18 col-md-18">
                        <div class="breadcrumbs-wrap">
                            <div class="display">
                                <a class="show-subs-breadcrumbs hidden" href="#" onclick="showSubBreadcrumbs(this, event);"><em class="fa fa-lg fa-angle-right"></em></a>
                                <ul class="breadcrumbs list-none"></ul>
                            </div>
                            <ul class="subs-breadcrumbs"></ul>
                            <ul class="temp-breadcrumbs hidden">
                                <li><a href="/" title="Trang nhất"><span>Trang nhất</span></a></li>
                            <li><a href="" title="Trắc nghiệm"><span class="txt" itemprop="title">Trắc nghiệm</span></a></li>
                            <li><a href="/list-of-subjects?subjectID=5ee5e364e01a0b232cfe08dc" title="Hóa học"><span class="txt" itemprop="title">Hóa học</span></a></li>
                            <li><a href="" title="Đề hóa học hữu cơ nâng cao cho học sinh lớp 12"><span class="txt" itemprop="title">Đề hóa học hữu cơ nâng cao cho học sinh lớp 12</span></a></li>
                            <li><a href="" title="&#91;MIỄN PHÍ&#93;"><span class="txt" itemprop="title">&#91;MIỄN PHÍ&#93; Mác-Lênin: Chương Mở đầu</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-24 col-sm-15 col-md-15">
            <!--Start of Tawk.to Script-->
            <!--End of Tawk.to Script-->
        </div>
        <div class="col-xs-24 col-sm-9 col-md-9">
        </div>
    </div>
    <div class="row" id="test">
        <div class="col-sm-16 col-md-18">
            <div id="breadcrumbs_mobile" class="col-xs-24 col-sm-24 box-coll hidden-lg hiddent-md ">
                <div class="col-xs-20 col-sm-20 title"></div>
            </div>
            <div class="clearfix"></div>
            <div class="detail view-list">
                <div class="panel panel-default result_width edit_panel" data-spy="affix" data-offset-top="250">
                    <!--         <div class="panel-heading">Thông tin đề thi</div> -->
                    <div class="panel-body edit_panel">
                        <h1 class="m-bottom affix_hidden">&#91;MIỄN PHÍ&#93; Đề hóa học hữu cơ nâng cao cho học sinh lớp 12: [Hóa học] Các em lưu ý chỉ có 60 phút làm bài</h1>
                        <div class="row">
                            <div class="col-lg-8 col-xs-16 col-sm-12 col-md-8 affix_hidden">
                                <div class="row exam-info">
                                    <div class="col-xs-24 col-sm-12 col-md-8">
                                        <label>Số câu</label>: 5
                                    </div>
                                    <div class="col-xs-24 col-sm-12 col-md-24">
                                        <label>Thời gian</label>: Không giới hạn thời gian
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-10 col-sm-24 col-md-8 text-center" style="position: absolute; right: 0;">
                                <button type="submit" name="submit" class="btn btn-success btnSendTest">
                                    <em class="fa fa-floppy-o">&nbsp;</em>Nộp bài
                                </button>
                                &nbsp; <a href="/" class="cancelLink"> Thoát </a>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
                </div>
                <div class="testing m-bottom get_width" id="top">
                    <form action="" method="post" id="frm-submit" class="col-xs-24 col-sm-24 col-md-24">
                        <input type="hidden" value="1" name="save_test"/>
                        <input type="hidden" value="47" name="exam_id"/>
                        <input type='hidden' id='current_page'/>
                        <input type='hidden' id='show_per_page'/>
                        <div id="questionlist" data-exam-id="47">
                        
                            <div class="question-box">
                                <div class="panel panel-default question-item " data-question-number="1">
                                    <div class="panel-body" id="question1">
                                        <p class="m-bottom question">
                                            <strong class="text-red questionOfExam" _examID = "5ee5f79dfa430106f4296452">Câu hỏi 1:</strong><b><span lang="VI" style="font-size:12.0pt">
                                            <span style="line-height:107%"><span>
                                            <p>Kim loại n&agrave;o sau đ&acirc;y kh&ocirc;ng t&aacute;c dụng với CuSO4?</p></span></span></span></b>
                                        </p>
                                        
                                        <div class="row answer">
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="1"  name="answer1" type="radio" _question="5ee5f876fa430106f4296453" value="1" /> A. Ag.
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="1"  name="answer1" type="radio" _question="5ee5f876fa430106f4296453" value="2" /> B. Mg.
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="1"  name="answer1" type="radio" _question="5ee5f876fa430106f4296453" value="3" /> C. Fe.
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="1"  name="answer1" type="radio" _question="5ee5f876fa430106f4296453" value="4" /> D. Al.
                                                </label>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="question-box">
                                <div class="panel panel-default question-item " data-question-number="1">
                                    <div class="panel-body" id="question2">
                                        <p class="m-bottom question">
                                            <strong class="text-red questionOfExam" _examID = "5ee5f79dfa430106f4296452">Câu hỏi 2:</strong><b><span lang="VI" style="font-size:12.0pt">
                                            <span style="line-height:107%"><span>
                                            <p>Thủy ph&acirc;n&nbsp;este CH3CH2COOCH3, thu được ancol c&oacute;&nbsp;c&ocirc;ng thức l&agrave;?</p></span></span></span></b>
                                        </p>
                                        
                                        <div class="row answer">
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="2"  name="answer2" type="radio" _question="5ee5f8d8fa430106f4296454" value="1" /> A. CH3OH..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="2"  name="answer2" type="radio" _question="5ee5f8d8fa430106f4296454" value="2" /> B. C3H1OH..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="2"  name="answer2" type="radio" _question="5ee5f8d8fa430106f4296454" value="3" /> C. C2HsOH..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="2"  name="answer2" type="radio" _question="5ee5f8d8fa430106f4296454" value="4" /> D. C3HsOH..
                                                </label>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="question-box">
                                <div class="panel panel-default question-item " data-question-number="1">
                                    <div class="panel-body" id="question3">
                                        <p class="m-bottom question">
                                            <strong class="text-red questionOfExam" _examID = "5ee5f79dfa430106f4296452">Câu hỏi 3:</strong><b><span lang="VI" style="font-size:12.0pt">
                                            <span style="line-height:107%"><span>
                                            <p>Ở nhiệt độ thường, kim loại Fe kh&ocirc;ng phản ứng với dung dịch&nbsp;n&agrave;o sau đ&acirc;y?</p></span></span></span></b>
                                        </p>
                                        
                                        <div class="row answer">
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="3"  name="answer3" type="radio" _question="5ee5f940fa430106f4296455" value="1" /> A. NaNO3..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="3"  name="answer3" type="radio" _question="5ee5f940fa430106f4296455" value="2" /> B. HCI..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="3"  name="answer3" type="radio" _question="5ee5f940fa430106f4296455" value="3" /> C. CuSO4..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="3"  name="answer3" type="radio" _question="5ee5f940fa430106f4296455" value="4" /> D. AgNO3..
                                                </label>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="question-box">
                                <div class="panel panel-default question-item " data-question-number="1">
                                    <div class="panel-body" id="question4">
                                        <p class="m-bottom question">
                                            <strong class="text-red questionOfExam" _examID = "5ee5f79dfa430106f4296452">Câu hỏi 4:</strong><b><span lang="VI" style="font-size:12.0pt">
                                            <span style="line-height:107%"><span>
                                            <p>Dung dịch n&agrave;o sau đ&acirc;y l&agrave;m <strong>xanh </strong>quỳ t&igrave;m</p></span></span></span></b>
                                        </p>
                                        
                                        <div class="row answer">
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="4"  name="answer4" type="radio" _question="5ee5fa76fa430106f4296456" value="1" /> A. Metanol..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="4"  name="answer4" type="radio" _question="5ee5fa76fa430106f4296456" value="2" /> B. Glixerol..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="4"  name="answer4" type="radio" _question="5ee5fa76fa430106f4296456" value="3" /> C. Axit axetic..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="4"  name="answer4" type="radio" _question="5ee5fa76fa430106f4296456" value="4" /> D. Metylamin..
                                                </label>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="question-box">
                                <div class="panel panel-default question-item " data-question-number="1">
                                    <div class="panel-body" id="question5">
                                        <p class="m-bottom question">
                                            <strong class="text-red questionOfExam" _examID = "5ee5f79dfa430106f4296452">Câu hỏi 5:</strong><b><span lang="VI" style="font-size:12.0pt">
                                            <span style="line-height:107%"><span>
                                            <p>Phản ứng n&agrave;o sau đ&acirc;y l&agrave; phản ứng nhiệt nh&ocirc;m?&nbsp;</p></span></span></span></b>
                                        </p>
                                        
                                        <div class="row answer">
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="5"  name="answer5" type="radio" _question="5ee5fb14fa430106f4296457" value="1" /> A. 3FeO + 2Al  =&gt; 3Fe + AhO3..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="5"  name="answer5" type="radio" _question="5ee5fb14fa430106f4296457" value="2" /> B. 2Al + 2NaOH + 2H2O =&gt; 2NaA1O2 + 3H2..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="5"  name="answer5" type="radio" _question="5ee5fb14fa430106f4296457" value="3" /> C. 2Al + 3H2SO4 =&gt; Ah(SO4)3 + 3H2..
                                                </label>
                                            </div>
                                        
                                            <div class="answer-item col-xs-12 col-sm-12 col-md-12">
                                                <label class="radio_question" >
                                                    <input class="hidden-print selection chooseAnswer" _numberQus="5"  name="answer5" type="radio" _question="5ee5fb14fa430106f4296457" value="4" /> D. 2Al + 3CuSO4 =&gt; Ah(SO4)3 + 3Cu..
                                                </label>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    
                    <div class="text-center">
                        <button type="submit" name="submit" class="btn btn-success btnSendTest">
                            <em class="fa fa-floppy-o">&nbsp;</em>Nộp bài
                        </button>
                        &nbsp; <a href="" class="cancelLink"> Thoát </a>
                    </div>
                    
                </div>
            </div>
        </div>
    <%- include ('../partials/sidebar') %>
    <%- include ('../partials/footer') %>

   
<script>

    $(document).on('click', '.btnSendTest', function (e) {
		e.preventDefault();
        let examID = $('.questionOfExam').attr('_examID');

        let correctNumber = 0;
        let unfinishQuestion;
        let falseArr = [];
        let trueArr = [];
        let point;
		
		if(examID){
                $.ajax({
                    url: `/exam/info-exam/${examID}`,
                    method: 'GET',
                    success: resp => {
                        if(!resp.error){
                            let infoExam = resp.data;
                                for(let j=0; j < infoExam.question.length; j++){
                                    for(let i=0 ; i < arrResult.length; i++){
                                    //Câu trả lời sai
                                    if(arrResult[i].questionID == infoExam.question[j]._id && arrResult[i].correct.toString() !== infoExam.question[j].correct.toString()){
                                        falseArr.push(arrResult[i].questionID)
                                    }

                                    //Câu trả lời đúng
                                    if(arrResult[i].questionID == infoExam.question[j]._id && arrResult[i].correct.toString() == infoExam.question[j].correct.toString()){
                                        correctNumber += 1;
                                        trueArr.push(arrResult[i].questionID)
                                    }

                                    unfinishQuestion = infoExam.question.length - arrResult.length;

                                }
                            }

                            //let dontCompleteNumber = infoExam.question.length - arrResult.length;

                            // console.log(`Số câu sai: ${falseNumber}`);

                            //console.log(`Sô câu chưa làm: ${unfinishQuestion}`);

                            //console.log(`Những câu sai: ${falseArr}`);

                            //console.log(`Những câu đúng: ${trueArr}`);


                            point = (10/infoExam.question.length)*correctNumber;
                            //console.log(`Điểm của bạn là: ${point}`);


                            //console.log(falseArr, trueArr, point)
                        if(unfinishQuestion > 0){

                            if (window.confirm(`Bạn có ${unfinishQuestion} câu chưa làm. Bạn có chắc chắn nộp bài không?`)) {
                                if(falseArr.length || trueArr.length){
                                    $.ajax({
                                    url: `/result-exam`,
                                    method: 'POST',
                                    data: { point, falseArr, trueArr, examID, unfinishQuestion },
                                    success: resp => {

                                        let resultID = resp.data._id;
                                        
                                        console.log(resp)

                                        if(!resp.error){

                                            window.location.href = `/result-exam?resultID=${resultID}&examID=${examID}`
                                        }
                                    },
                                    error: err => console.log({ err })
                                    });

                                }
                            }

                        } else {

                            if (window.confirm(`Bạn có chắc chắn nộp bài không?`)) {
                                if(falseArr.length || trueArr.length){
                                    $.ajax({
                                    url: `/result-exam`,
                                    method: 'POST',
                                    data: { point, falseArr, trueArr, examID, unfinishQuestion },
                                    success: resp => {

                                        let resultID = resp.data._id;
                                        
                                        console.log(resp)

                                        if(!resp.error){

                                            window.location.href = `/result-exam?resultID=${resultID}&examID=${examID}`
                                        }
                                    },
                                    error: err => console.log({ err })
                                    });

                                }
                            }

                        }
                            
                        }
                        
                    },
                    error: err => console.log({ err })
                });

		}

	});

    let arrResult = [];
    $(`.chooseAnswer`).on('change', function() {
        let questionID = $(this).attr('_question');
        let numberQus = $(this).attr('_numberQus');
        let correct =  $(`input[name="answer${numberQus}"]:checked`).val();

        if(questionID && correct){
            for (var i =0; i < arrResult.length; i++){
                if (arrResult[i].questionID === questionID) {
                    arrResult.splice(i,1);
                    break;
                }
            }
            arrResult.push({ questionID, correct })
            console.log(arrResult)
        }
    });

</script>

